body{
    font-family: "Lexend", sans-serif;
}

header{
    background-color: #230b00;
}

header h1,
header .nav-item .nav-link{
    color: #f8ecd4;
}

header .nav-item .nav-link.active{
    background-color: #a29d7f;
}

.navbar-toggler{
    background-color: #f8ecd4;
}

#sobre-a-loja{
    background-color: #aabe9b;
}

.carousel.slide .carousel-indicators button{
    background-color: #230b00;
    width: 50px;
    height: 12px;
}

.container .carousel-control-prev .carousel-control-prev-icon,
.container .carousel-control-next .carousel-control-next-icon{
    background-color: #230b00;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#produtos,
.btn{
    background-color: #f8ecd4;
}

.btn:hover{
    background-color: #230b00;
    color: #f8ecd4 ;
}

#produtos .nav-link{
    color: #230b00;
}

#fale-conosco,
#produtos .nav-link.active{
    background-color: #d4cfa5;
}

.form-control{
    background-color: #f8ecd4 ;
}

.form-control:focus{
    box-shadow: none;
    background-color: #f8ecd4 ;
    outline: 2px solid #230b00;
}

i{
    cursor: pointer;
}

footer{
    background-color: #230b00;
}

footer > .container{
    color: #f8ecd4;
}